* {
  --dark-primary-color: #417e93;
  --primary-color: #579bb1;
  --secondary-color: #e1d7c6;
  --light-grey-white: #ece8dd;
  --cart-background-color: #867070;
  --white: #f6f5f4;
  --pd: 5px;
  --br: 5px;
  --gap: 5px;
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 15vh auto 10vh;
}

.nav {
  position: fixed;
  grid-row: 1/2;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--white);
  height: 15vh;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
  list-style: none;
  color: var(--white);
}
.nav-links li {
  font-size: 25px;
  color: var(--white);
}
#cartLogo {
  width: 50px;
}

#logo {
  display: flex;
}

#logoImg {
  width: 50px;
}
#homeDiv,
#shop,
#contact,
#cart {
  grid-row: 2/3;
}

#homeDiv {
  background-color: var(--secondary-color);
  display: grid;
  height: 75vh;
  grid-template-columns: 45vw 55vw;
}
#homeLeft {
  grid-column: 1/2;
  background-image: linear-gradient(
    to right top,
    #f50729,
    #f80042,
    #f70059,
    #f3006e,
    #eb1282
  );
}
#homeLeft .content button {
  width: 150px;
  height: 65px;
  font-size: 20px;
  color: var(--white);
  background-color: var(--primary-color);
  border: 0;
  border-radius: 20%;
  cursor: pointer;
}
#homeLeft .content button:hover {
  background-color: var(--dark-primary-color);
  padding: var(--pd);
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(var(--pd) * 15);
}
#homeRight {
  grid-column: 2/3;
  background-color: black;
}

#shop {
  background-color: var(--light-grey-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: calc(var(--pd) * 10);
  gap: calc(var(--gap) * 10);
}
.cardDiv {
  width: 300px;
  height: 320px;
  background-color: var(--white);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: var(--br);
}
.image {
  width: 150px;
  height: 150px;
}
.cardDiv button {
  color: var(--white);
  background-color: var(--primary-color);
  border: 0;
  border-radius: var(--br);
  padding: calc(var(--pd) * 2);
}
.cardDiv button:hover {
  background-color: var(--dark-primary-color);
}
#cart {
  min-height: 75vh;
  display: grid;
  grid-template-columns: 70vw 30vw;
  background-color: var(--light-grey-white);
}
.cartLeft {
  grid-column: 1/2;
  
}
.cartItem{
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--gap)*5);
  padding: calc(var(--pd)*5);
 
  
}
.incrDecrBut{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--gap)*3);
}
#cartDiv .incrDecrBut button{
  width: 50px;
  font-size: 15px;
}
#cartDiv .incrDecrBut p{
  font-size: 20px;
}
.cartRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 2/3;
}
#cart button {
  width: 150px;
  font-size: 20px;
  padding: var(--pd);
  border-radius: var(--br);
  border: 0;
  background-color: var(--primary-color);
  cursor: pointer;
}
#cart button:hover {
  background-color: var(--dark-primary-color);
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 5);
}
#footer {
  position: relative;
  bottom: 0;
  margin-bottom: 0;
  background-color: var(--secondary-color);
  grid-row: 3/4;
}
