* {
  --dark-primary-color: #417e93;
  /* --secondary-color: #e1d7c6; */
  /* --contact-background-color: #867070; */
  --logoBack: #CBEDD5;
  /* --primary-color: #579bb1;
  --light-grey-white: #ece8dd;
  --white: #f6f5f4;
  --font-color: rgb(22, 22, 22); */
  --pd: 5px;
  --br: 5px;
  --gap: 5px;
}
.lightMode{
  --primary-color: #579bb1;
  --light-grey-white: #ece8dd;
  --white: #f6f5f4;
  --font-color: rgb(22, 22, 22);
  --secondary-color: #e1d7c6;
  --contact-background-color: #867070;
}
.darkMode{
  --primary-color: #262A56;
  --light-grey-white: rgb(22, 22, 22);
  --white:  rgb(74, 60, 60);
  --font-color: rgb(223, 223, 126);
  --secondary-color: #0A2647;
  --contact-background-color: #282A3A;
}
h1, h2, h3, p, button{
  color: var(--font-color);
}
.App {
  text-align: center;
  display: grid;
  grid-template-rows: 15vh auto 10vh;
}
button:hover {
  cursor: pointer;
}

/* Nav Bar */
.nav {

  
  position: fixed;
  grid-row: 1/2;
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--font-color);
  height: 15vh;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  gap: calc(var(--gap) * 10);
  list-style: none;
  color: var(--font-color);
}
.nav-links a {
  text-decoration: none;
}
.nav-links li {
  font-size: 25px;
  color: var(--font-color);
}
.darkLogo {
  animation: one-by-one 0.7s ease-in 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--logoBack);
}
.darkLogo:hover {
  cursor: pointer;
}
.darkLogo img {
  width: 70%;
  height: 70%;
}
.cartMain {
  width: 100px;
  background-color: var(--logoBack);
  border-radius: 50%;
}
#cartLogo {
  width: 50%;
}
#cartLogo:hover {
  width: 60px;
}

#logo {
  display: flex;
}

#logoImg {
  width: 50px;
}
#homeDiv,
#shop,
#contact,
#cart {
  grid-row: 2/3;
}
/* Home page */
#homeDiv {
  background-color: var(--secondary-color);
  display: grid;
  height: 75vh;
  grid-template-columns: 45vw 55vw;
}
#homeLeft {
  grid-column: 1/2;
  background-image: linear-gradient(
    to right top,
    #f50729,
    #f80042,
    #f70059,
    #f3006e,
    #eb1282
  );
}
#homeLeft .content button {
  width: 150px;
  height: 65px;
  font-size: 20px;
  color: var(--font-color);
  background-color: var(--primary-color);
  border: 0;
  border-radius: 20%;
  cursor: pointer;
}
#homeLeft .content button:hover {
  background-color: var(--dark-primary-color);
  padding: var(--pd);
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(var(--pd) * 15);
  color: var(--font-color);
}
#homeRight {
  grid-column: 2/3;
  background-color: black;
}

/* Shop page */
#shop {
  background-color: var(--light-grey-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: calc(var(--pd) * 10);
  gap: calc(var(--gap) * 10);
}
.cardDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 320px;
  background-color: var(--white);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: var(--br);
}
.image {
  width: 150px;
  height: 150px;
}
.cardDiv button {
  color: var(--font-color);
  background-color: var(--primary-color);
  border: 0;
  border-radius: var(--br);
  padding: calc(var(--pd) * 2);
}
.cardDiv button:hover {
  background-color: var(--dark-primary-color);
  cursor: pointer;
}

/* Cart  Page */
#cart {
  min-height: 75vh;
  display: grid;
  grid-template-columns: 73vw 25vw;
  background-color: var(--light-grey-white);
}
.cartLeft {
  grid-column: 1/2;
}
.cartItem {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--gap) * 5);
  padding: calc(var(--pd) * 5);
}
.incrDecrBut {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--gap) * 3);
}
#cartDiv .incrDecrBut button {
  width: 50px;
  font-size: 15px;
}
#cartDiv .incrDecrBut p {
  font-size: 20px;
}
.cartRight {
  display: flex;
  flex-direction: column;
  align-items: center;

  grid-column: 2/3;
}
.cartRightItems {
  padding: calc(var(--pd) * 15);
  position: fixed;
}
#cart button {
  width: 150px;
  font-size: 20px;
  padding: var(--pd);
  border-radius: var(--br);
  border: 0;
  background-color: var(--primary-color);
  cursor: pointer;
}
#cart button:hover {
  background-color: var(--dark-primary-color);
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 5);
}
/* Contact page */
#contact {
  background-color: var(--contact-background-color);
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  color: var(--font-color);
  gap: calc(var(--gap) * 3);
}
.contactElements {
  padding: calc(var(--pd) * 4);
  display: flex;
  gap: calc(var(--gap) * 10);
  align-items: center;
  justify-content: center;
}
.contactElements .aLink {
  border-radius: 50%;
  background-color: var(--logoBack);
  min-width: 150px;
  min-height: 150px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
.contactElements img {
  width: 100px;
}
.contactElements img:hover {
  width: 120px;
}
.navElement {
  width: 100%;
  padding: var(--pd);
  border-radius: var(--br);
}
/* footer section */
#footer {
  position: relative;
  bottom: 0;
  margin-bottom: 0;

  background-color: var(--secondary-color);
  grid-row: 3/4;
}
