.App {
  text-align: center;
}

.nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: aquamarine;
  height: 20vh;
}

.nav-links{
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
  list-style: none;
}

#logo{
  display: flex;
}

#logoImg{
  width: 50px;
}

#footer{
  bottom: 0;
}